<footer class="py-4  flex-shrink-0" style=" background-color: gainsboro;">
    <div class="container text-center">
      <p href="" class="text-muted"> Copyright 2021 Suyash Thakur, Ashish Karn, & Pankaj Badoni. <br>UPES<br> All rights
        reserved</p>
    </div>
  </footer>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>  function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
        console.log('loaded');
        console.clear();
        var art = ""
        console.log(" .d8b.  d8b   db db    db d8888b. db");
        console.log("d8' `8b 888o  88 88    88 88  `8D 88");
        console.log("88ooo88 88V8o 88 88    88 88oobY' 88");
        console.log("88~~~88 88 V8o88 88    88 88`8b   88");
        console.log("88   88 88  V888 88b  d88 88 `88. 88booo.");
        console.log("YP   YP VP   V8P ~Y8888P' 88   YD Y88888P");

        

      });
    }</script>
    <script>
    </script>
</body>
</html>
