<%- include("./partials/header.ejs") %>
<div class="container">
    <br>
    <div class="row herosection" style="justify-content:center; align-items:center; margin-top: 25px">
        <div class="col-md-7 info">
            <h1>Create Personalized Short Links</h1>
            <br>
            <h4>A URL shortener built with powerful tools to help you track and share short URLs using a custom name </h4>
            <br>
            <a href="/user/signup" class="btn btn-primary">Sign Up</a> &nbsp; <a href="/user/login" class="btn btn-outline-primary">Sign In</a>
            <br>
        </div>
        <div class="col-md-5" style="text-align: center;">
            <img src="/assets/final_logo3.png" style="max-width: 300px; width: 100%; height: auto;">
            
            <img src="/assets/final_logo4.png" style="max-width: 300px; width: 100%; height: auto; margin-top: 20px;">

        </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-decoration: underline; text-align: center; margin-top: 55px;">How it Works</h1> <br>
    <div class="row" style="text-align: center; justify-content: center; margin-top: 20px;">
        <div class="col-md-4">
            <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/link.png">
                        <br>
                        <br>
                        <ul>
                            <li>Customized short links to share (instead of long ones!) </li>
                            <br>
                            <li>
                                Keep all your personal details at fingertips:
                                share a string, not a link.
                            </li>
                            <br>
                            <li>
                                Create your own URL directories for easy recollection
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/plane.png" style="max-width: 60px;">
                        <br>
                        <br>
                        <ul>
                            <li>See and EDIT all your shortened URLs in a single place! </li>
                            <br>
                            <li>
                                Single Multi-purpose link for different purposes
                            </li>
                            <br>
                            <li>
                                ANURL Analytics: Track the number of hits on your URL.
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/graph.png" style="max-width: 70px;">
                        <br>
                        <br>
                        <ul>
                            <li>Link expiration: Make your links invalid when you want to. </li>
                            <br>
                            <li>
                                Tracking is very easy for organizations.
                            </li>
                            <br>
                            <li>
                                Multiple Options for link creation
                            </li>
                            </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div style="display: flex; width: 100%; justify-content: center; align-items: center;">
        <div id="example1"></div>
    </div>
</div>
<script>PDFObject.embed("/assets/ANURL_Springer_final.pdf", "#example1");</script>
<style>
    .pdfobject-container {
        height: 40rem;
        width: 100%;
        border: 1rem solid rgba(0, 0, 0, .1);
    }
</style>
<br>
<br>
<%- include("./partials/footer.ejs") %>
