<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />
    <meta name="google-signin-client_id" content="230195840231-t2l5aobst7b00o5frd14it5afu4i07g4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>anurl.com</title>
    <link rel = "icon" href = "/assets/Final_logo2.png" type = "image/x-icon"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="/assets/Final_logo2.png" style="max-width: 40px; margin-right: 15px;">ANURL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/user/dashboard">My Links
                <span class="sr-only">(current)</span>
              </a>
            </li>
      
            <li class="nav-item ">
              <a class="nav-link" href="/home/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/user/login">Sign-Out</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <br>
    <div class="row herosection" style="justify-content:center; align-items:center; margin-top: 25px">
        <div class="col-md-7 info">
            <h1>Customized short links to share (instead of long ones!) </h1>
            <br>
            <h4>A URL shortener built with powerful tools to help you track and share short URLs using a custom name </h4>
            <br>
        </div>
        <div class="col-md-5">
            <img src="/assets/final_logo4.png" style="max-width: 400px; width: 100%; height: auto;">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="text-align: center; justify-content: center; margin-top: 20px;">
      <div class="col-md-4">
        <div class="card" style="min-height: 350px;">
                  <div class="card-body">
                      <img src="/assets/link.png">
                      <br>
                      <br>
                      <ul>
                        <li>Customized short links to share (instead of long ones!) </li>
                          <br>
                          <li>
                            Keep all your personal details at fingertips:
                            share a string, not a link.
                          </li>
                          <br>
                          <li>
                            Create your own URL directories for easy recollection
                          </li>
                          </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="min-height: 350px;">
                  <div class="card-body">
                      <img src="/assets/plane.png" style="max-width: 60px;">
                      <br>
                      <br>
                      <ul>
                        <li>See and EDIT all your shortened URLs in a single place! </li>
                          <br>
                          <li>
                            Single Multi-purpose link for different purposes
                          </li>
                          <br>
                          <li>
                            ANURL Analytics: Track the number of hits on your URL.
                          </li>
                          </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="min-height: 350px;">
                  <div class="card-body">
                      <img src="/assets/graph.png" style="max-width: 70px;">
                      <br>
                      <br>
                      <ul>
                        <li>Link expiration: Make your links invalid when you want to. </li>
                          <br>
                          <li>
                            Tracking is very easy for organizations.
                          </li>
                          <br>
                          <li>
                            Multiple Options for link creation
                          </li>
                          </ul>
                  </div>
                </div>
          </div>
      </div>
  </div>

</div>
<br>
<br>
<%- include("./partials/footer.ejs") %>
