<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />
    <meta name="google-signin-client_id" content="230195840231-t2l5aobst7b00o5frd14it5afu4i07g4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>anurl.com</title>
    <link rel = "icon" href = "/assets/Final_logo2.png" type = "image/x-icon"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="/assets/Final_logo2.png" style="max-width: 40px; margin-right: 15px;">ANURL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/user/dashboard">My Links
                <span class="sr-only">(current)</span>
              </a>
            </li>
      
            <li class="nav-item ">
              <a class="nav-link" href="/home/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/user/login">Sign-Out</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <br>
    <div class="row herosection" style="justify-content:center; align-items:center; margin-top: 25px">
        <div class="col-md-7 info">
            <h1>Create Personalized Short Links</h1>
            <br>
            <h4>A URL shortener built with powerful tools to help you track and share short URLs using a custom name </h4>
            <br>
        </div>
        <div class="col-md-5">
            <img src="/assets/final_logo4.png" style="max-width: 400px; width: 100%; height: auto;">
        </div>
    </div>
    <br>
    <br>
    <h1 style="text-decoration: underline; text-align: center; margin-top: 55px;">How it Works</h1> <br>
    <div class="row" style="text-align: center; justify-content: center; margin-top: 20px;">
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/link.png">
                        <br>
                        <br>
                        <h4>Transform Lengthy URL </h4>
                        <br>
                        <p>
                            https://techcrunch.com/2017/10/24/youll-be-able-to-get-the-iphone-x-at-an-apple-store-on-launch-day-if-you-get-there-early/
                        </p>
                        <br>
                        <h4>1</h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/plane.png" style="max-width: 60px;">
                        <br>
                        <br>
                        <h4>Create Short URL</h4>
                        <br>
                        <p>
                            https://YourBrannd.com/YourKeyword <br>
                            ex, <br>
                            https://brandXYZ.me/iPhone
                        </p>
                        <br>
                        <h4 style="padding-top: 20px;">2</h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/graph.png" style="max-width: 70px;">
                        <br>
                        <br>
                        <h4>Track Everything </h4>
                        <br>
                        <p>
                            Track every click, edit and delete it any time. <br>
                            Select an expiration date
                        </p>
                        <br>
                        <h4 style="padding-top: 10px;">3</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<%- include("./partials/footer.ejs") %>
