<%- include("./partials/header.ejs") %>
<div class="container">
    <br>
    <div class="row herosection" style="justify-content:center; align-items:center; margin-top: 25px">
        <div class="col-md-7 info">
            <h1>Create Personalized Short Links</h1>
            <br>
            <h4>A URL shortener built with powerful tools to help you track and share short URLs using a custom name </h4>
            <br>
            <a href="/user/signup" class="btn btn-primary">Sign Up</a> &nbsp; <a href="/user/login" class="btn btn-outline-primary">Sign In</a>
            <br>
        </div>
        <div class="col-md-5">
            <img src="/assets/final_logo4.png" style="max-width: 400px; width: 100%; height: auto;">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="height: 450px;">
                <div class="card-body">
                    <h3>Customized short links to share <br>(instead of long ones!) </h3>
                    <br>
                    <br>
                    <img src="/assets/Picture2.png" style="max-width: 400px; width: 100%; height: auto;">
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="height: 450px;">
                            <div class="card-body">
                                <h3>Keep all your personal details at fingertips: <br> share a string, not a link.</h3>
                    <br>
                    <br>
                    <img src="/assets/Picture4.png" style=" width: 100%; height: auto;">
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" style="height: 450px;">
                                <div class="card-body">
                                    <h3>Create your own URL directories for easy recollection </h3>
                                    <br>
                                    <p>Research Lab :
                                        anurl.in/drkarn/lab
                                    </p>
                    <p>
                        Publications List:
                        anurl.in/drkarn/papers
                    </p>
                    <p>
                        CV :
                        anurl.in/drkarn/cv
                    
                    </p>
                    <p>
                        Schedule :
                        anurl.in/drkarn/calendar
                    
                    </p>
                    <p>
                        Teaching Materials
                        anurl.in/drkarn/fluid
                    
                    </p>
                </div>
            </div>
    
        </div>
        <div class="col-md-6" style="min-height: 450px;">
            <div class="card" style="height: 450px;">
                <div class="card-body">
                    <h3>See and Edit all your shortened URLs in a single place!
                    </h3>
                    <br>
                    <img src="/assets/Picture5.png" style=" width: 100%; height: auto;">
                    </div>
                    </div>
                    </div>
                    </div>
    <br>
    
    <br>
    <div class="row">
        <div class="col-md-6" style="min-height: 450px;">
            <div class="card" style="height: 450px;">
                <div class="card-body">
                    <h3>Single Multi-purpose link for different purposes </h3>
                    <br>
                    <img src="/assets/Picture6.png" style=" width: 100%; height: auto;">
                </div>
            </div>
    
        </div>
        <div class="col-md-6" style="min-height: 450px;">
            <div class="card" style="height: 450px;">
                <div class="card-body">
                    <h3>ANURL Analytics: Track the number of hits on your URL.
                    </h3>
                    <br>
                    <img src="/assets/Picture7.png" style=" width: 100%; height: auto;">
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6" style="min-height: 450px;">
                            <div class="card" style="height: 450px;">
                                <div class="card-body">
                                    <h3>Link expiration: Make your links invalid when you want to </h3>
                    <br>
                    <img src="/assets/Picture8.png" style=" width: 100%; height: auto;">
                    </div>
                    </div>
                    
                    </div>
                    <div class="col-md-6" style="min-height: 450px;">
                        <div class="card" style="height: 450px;">
                            <div class="card-body">
                                <h3>Tracking is very easy for organizations
                                </h3>
                    <br>
                    <p>Mechanical Engg. Publications :
                        anurl.in/soe/mech/faculty
                    
                    </p>
                    <p>
                        School of Design Patents:
                        anurl.in/sod/patents
                    
                    
                    </p>
                    <p>
                        SOE NAAC Repository:
                        anurl.in/soe/naac
                    
                    
                    </p>
                    <p>
                        Mechanical Engg. NBA docs:
                        anurl.in/soe/mech/nba
                    
                    
                    </p>
                    <p>
                        SOCS conference NGCT:
                        anurl.in/socs/ngct
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<br>
<br>
<%- include("./partials/footer.ejs") %>
