<%- include("./partials/header.ejs") %>
<div class="container">
    <br>
    <div class="row herosection" style="justify-content:center; align-items:center; margin-top: 25px">
        <div class="col-md-7 info">
            <h1>Create Personalized Short Links</h1>
            <br>
            <h4>A URL shortener built with powerful tools to help you track and share short URLs using a custom name </h4>
            <br>
            <a href="/user/signup" class="btn btn-primary">Sign Up</a> &nbsp; <a href="/user/login" class="btn btn-outline-primary">Sign In</a>
            <br>
        </div>
        <div class="col-md-5">
            <img src="/assets/home.svg" style="max-width: 400px; width: 100%; height: auto;">
        </div>
    </div>
    <br>
    <br>
    <h1 style="text-decoration: underline; text-align: center; margin-top: 55px;">How it Works</h1> <br>
    <div class="row" style="text-align: center; justify-content: center; margin-top: 20px;">
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/link.png">
                        <br>
                        <br>
                        <h4>Transform Lengthy URL </h4>
                        <br>
                        <p>
                            https://techcrunch.com/2017/10/24/youll-be-able-to-get-the-iphone-x-at-an-apple-store-on-launch-day-if-you-get-there-early/
                        </p>
                        <br>
                        <h4>1</h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/plane.png" style="max-width: 60px;">
                        <br>
                        <br>
                        <h4>Create Short URL</h4>
                        <br>
                        <p>
                            https://YourBrannd.com/YourKeyword <br>
                            ex, <br>
                            https://brandXYZ.me/iPhone
                        </p>
                        <br>
                        <h4 style="padding-top: 20px;">2</h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 350px;">
                    <div class="card-body">
                        <img src="/assets/graph.png" style="max-width: 70px;">
                        <br>
                        <br>
                        <h4>Track Everything </h4>
                        <br>
                        <p>
                            Track every click, edit and delete it any time. <br>
                            Select an expiration date
                        </p>
                        <br>
                        <h4 style="padding-top: 10px;">3</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<%- include("./partials/footer.ejs") %>
