<%- include("./partials/header.ejs") %>
<div class="container">
    <div style=" display: flex; height: 80vh; align-items: center;  margin: auto;  width: fit-content;">
    <div style="">

        <h2>Sign-Up</h2>
        <br>
        <% if (locals.error2) { %>
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= error2 %></strong> 
              </div>

        <% } %>
        <% if (locals.msg) { %>
            <div style="color: green;" role="alert">
                <%= msg %>
            </div>
        <% } %>
        <form action="/user/signup" method="POST">
            <div class="form-group">
                <label for="name">User Name</label>
                <input type="string" name="name" id="name" placeholder="Name" class="form-control"  required>
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" type="email" required  id="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"  required  id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="conf-password">Conform Password</label>
                <input type="password" class="form-control"  required  name="confpassword" id="conf-password" placeholder="Conform Password">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
</div>
<br>
<%- include("./partials/footer.ejs") %>




