<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />
    <meta name="google-signin-client_id"
        content="230195840231-t2l5aobst7b00o5frd14it5afu4i07g4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>anurl.in</title>
    <link rel="icon" href="/assets/Final_logo2.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/user/dashboard"><img src="/assets/Final_logo2.png"
                style="max-width: 40px; margin-right: 15px;">ANURL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item ">
                    <a class="nav-link" href="/user/about">About
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/use">How To Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Sign-Out</a>
                </li>

            </ul>
        </div>
    </nav>
    <div>
        <div class="container">
            <br>
            <h3>How To Use ANURL? </h3>
            <br>
            <video width="100%" height="auto" controls>
                <source src="/assets/anurl.mp4" type="video/mp4">
            </video>
            <br>
            <br>
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/tqyOOYJSw1Q9IF" width="100%" height="600px" frameborder="0"
            marginwidth="0" marginheight="0" scrolling="no"
            style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
       
        </div>
    </div>

    </div>
    <br>
    <br>
    <%- include("./partials/footer.ejs") %>